@model Aruba.Eis.Models.Bl.ActivityResource
@using HtmlHelpers.BeginCollectionItem

<tr>
@using (Html.BeginCollectionItem("Resources"))
{
    @Html.HiddenFor(m => m.Id)
    <td>
        @Html.TextBoxFor(m => m.Role.Id, @Model.Role.Id, new {@class = "edit"})
    </td>
    <td>
        @Html.TextBox("MinOccurs", @Model.MinOccurs, new {@class = "edit"})
    </td>
    <td>
        @Html.TextBox("MaxOccors", @Model.MaxOccors, new {@class = "edit"})
    </td>
    <td>
        <input type="button" value="Delete" class="btn btn-default"
               onclick="$(this).parent().parent().remove();" />
    </td>
}
</tr>
