@model Aruba.Eis.Models.Bl.ActivityResource
@using HtmlHelpers.BeginCollectionItem

<tr>
@using (Html.BeginCollectionItem("Resources"))
{
    <td>@Html.DisplayFor(m => m.Id)</td>
    <td>@Html.TextBoxFor(m => m.Role)</td>
    <td>
        <span id="minoccurs" class="read">@Model.MinOccurs</span>
        @Html.TextBox("MinOccurs", 1, new {@class = "edit"})
    </td>
    <td>
        <span id="maxoccors" class="read">@Model.MaxOccors</span>
        @Html.TextBox("MaxOccors", 1, new {@class = "edit"})
    </td>
    <td>
        <button type="button" class="delete" data-id="@Model.Id">Delete</button>
        @Html.HiddenFor(m => m.Id)
    </td>
}
</tr>
