@model Aruba.Eis.Models.Bl.Activity
@using Aruba.Eis
@using Aruba.MvcToolkit.Html
@{
    ViewBag.Title = I18nResource.EDIT_ACTIVITY;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Code, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Code, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Code, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@I18nResource.SAVE" class="btn btn-warning"/>
                @Html.ActionLink(I18nResource.CANCEL, "Index", null, new {@class = "btn btn-default"})
            </div>
        </div>

        <table id="Resources" class="table">
            <thead>
            <tr>
                <th>Role</th>
                <th>MinOccurs</th>
                <th>MaxOccurs</th>
                <th></th>
            </tr>
            </thead>
            @Html.CollectionEditorFor(m => m.Resources, "_Resources", "/Activity/AddResource",
                "Add Resource", new {@class = "btn btn-default"})
        </table>

    </div>

}