@model Aruba.Eis.Models.Views.ActivityIndexViewModel
@using Aruba.Eis
@{
    ViewBag.Title = I18nResource.ACTIVITIES;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "Activity", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <p>
        @Html.ActionLink(@I18nResource.NEW, "Create", null, new { @class = "btn btn-warning" })
    </p>
    <table class="table">
        <tr>
            <th>
                @I18nResource.CODE
            </th>
            <th>
                @I18nResource.NAME
            </th>
            <th></th>
        </tr>
        <tr>
            <td colspan="2">
                @Html.TextBoxFor(m => m.Filter, new { @class = "form-control", placeholder = I18nResource.FILTER, maxlength = 50 })
            </td>
            <td>
                <input type="submit" class="btn btn-default" value="@I18nResource.SEARCH" />
            </td>
        </tr>

        @foreach (var item in Model.ActivityList)
        {
            <tr>
                <td>
                    @item.Code
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
}    

