@model Aruba.Eis.Models.Views.ScheduleCreateViewModel
@using Aruba.Eis
@using Aruba.Eis.Helpers

@{
    ViewBag.Title = I18nResource.CREATE_SCHEDULE;
    var activities = HtmlItems.ActivityListItems;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

       <div class="form-group">
            @Html.LabelFor(model => model.Activity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Activity, activities, "-- Select Activity --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Activity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink(I18nResource.CANCEL, "Index", "Home", null, new { @class = "btn btn-default" })
                <input type="submit" value="@I18nResource.NEXT" class="btn btn-warning" />
            </div>
        </div>

    </div>
}

